<%= form_with(model: team, id: "team-form") do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>
      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>

  <div class="form-group">
    <label>Team Name</label>
    <%= form.text_field :name, placeholder: "Name", class: "form-control form-control-sm mb-1" %>
  </div>

  <div class="form-group">
    <label>Team Description</label>
    <%= form.text_field :description, placeholder: "Description", class: "form-control form-control-sm mb-1" %>
  </div>

  <div class="form-group">
    <label>Team Logo Upload</label>
    <%= form.text_field :logo, placeholder: "Logo", class: "form-control form-control-sm mb-1" %>
  </div>

<% end %>

  
