<script>

  $(document).ready(function() {
    $('#user-table').DataTable({
      "order": [],
      "search": {
        "caseInsensitive": true
      }
    });
  });

</script>

<table id="user-table" class="table table-sm table-responsive-lg table-striped table-dark" style="font-size:0.8rem">
  <thead class="bg-dark text-white">
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Approval</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody class="bg-dark">
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone_number %></td>
        <td>
            <%= check_box_tag("approval", user.id, user.approval,
                               data: {
                                remote: true,
                                url: "#{user.id}/approve",
                                method: 'POST'}) %>
        </td>
        <td><span class="bg-warning rounded p-1 m-1"><%= link_to 'Edit', edit_user_path(user), class: "text-white" %></span></td>
        <td><span class="bg-danger rounded p-1 m-1"><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure want to delete?' }, class: "text-white" %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

