<% @user = User.new %>
<%= form_for @user, id: 'signup', remote: true  do |f| %>

  <div id="validateEmail" class="form-group mb-3">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
      </div>
      <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
    </div>
    <span class="small invalid-feedback"></span>
  </div>

  <div id="validatePhone" class="form-group mb-3">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
      </div>
      <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone Number" %>
    </div>
    <span class="small invalid-feedback"></span>
  </div>

  <div id="validatePassword" class="form-group">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
      </div>
      <%= f.password_field :password, class: "form-control", placeholder: "Password"  %>
    </div>
    <span class="small invalid-feedback"></span>
  </div>

  <div id="validatePasswordConfirm" class="form-group">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
      </div>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation"  %>
    </div>
  </div>
    
  <div class="text-center">
    <button type="submit" class="btn btn-primary my-4">Sign Up</button>
  </div>
    
<% end %>
