<div class="container mt-4 mb-4">
    <div class="jumbotron">
        <div class="row text-white text-special">
            <h2 class="text-white m-2 d-inline">User Profile</h2>
            <p class="m-2">Username: <%= @user.username %></p>
            <p class="text-white m-2">IC Number: <%= @user.identity_number %></h6>
            <p class="text-white m-2">Phone Number: <%= @user.phone_number %></h6>
            <ul>
              <li>
                <p>Match Predicted: <%= @user.match_predictions.count %> </p>
              </li>
              <li>
                <p>Match Correctly: </p>
              </li>
              <li>
                <p>Match Predicted: </p>
              </li>
            </ul>
        </div>
    </div>

    <div class="jumbotron">
        <div class="row text-white text-special">
            <h2 class="text-white m-2">Predicted Match</h2>
            <h6 class="text-white m-2">Predict and Answer Most Questions Correctly to Win The Cash Prizes!</h6>
            <br><br><br>
            <% @user.match_predictions.each do |p| %>
              <% @m = p.match %>
              <%= render partial: 'matches/card' %>
            <% end %>
        </div>
    </div>
</div>