<% @tournaments.each do |t| %>
    

<div class="col-md-12">
    <div class="jumbotron mx-auto">
        <div class="row justify-content-center">
            <div class="col-8-lg">
                <%= image_tag(t.banner, style: "width:70%;height:70%") if t.banner.attached? %>
            </div>
            <div class="col-8-lg">
                <h2 class="text-white text-special d-block mx-auto shadow mt-2 mb-2">
                    <%= t.title %>
                </h2>
                <h4 class="text-center text-white text-special mt-2 mb-2">
                    <%= t.start_date %> to <%= t.end_date %>
                </h4>
            </div>
        </div>

        <% @matches = t.matches.order("bracket_id asc") %>

        <div class="nav-wrapper w-20">
            <ul class="nav nav-pills nav-fill flex-column flex-md-row text-special " id="tabs-icons-text" role="tablist">
                <li class="nav-item">
                    <a class="btn btn-outline-primary active show" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false">Current Standings</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false">My Scores</a>
                </li>
            </ul>
            <div id="error"></div>
        </div>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active show" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
            
                <div class="tournament-section">
                    <div class="tournament-container">

                        <div class="tournament-brackets">
                            <ul class="bracket bracket-1">
                                <% @matches[0..7].each do |m| %>
                                <li class="team-item <%=m.predicted(current_user)%>" id="<%=m.bracket.code%>">
                                    <div class="col-12 mx-auto">
                                        <span class="text-small"><%=m.match_start.strftime("%m/%d %I:%M%p") if m.match_start%></span>
                                    </div>
                                    <a data-remote="true" href="<%=m.predicted_route(current_user)%>">
                                        <div class="row">
                                            <div class="col-12 mx-auto text-team">
                                                <%= image_tag(m.team_home.logo, height: 16) if m.team_home.logo.attached? %>  <%=m.team_home.name%>  <span><%=m.team_home_won%></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 mx-auto text-team">
                                                <%= image_tag(m.team_away.logo, height: 16) if m.team_away.logo.attached? %>  <%=m.team_away.name%>  <span><%=m.team_away_won%></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <% end %>
                            </ul>

                            <ul class="bracket bracket-2">
                                <% @matches[8..11].each do |m| %>
                                <li class="team-item <%=m.predicted(current_user)%>" id="<%=m.bracket.code%>">
                                    <div class="col-12 mx-auto">
                                        <span class="text-small"><%=m.match_start.strftime("%m/%d %I:%M%p") if m.match_start%></span>
                                    </div>
                                    <a data-remote="true" href="<%=m.predicted_route(current_user)%>">
                                        <div class="row">
                                            <div class="col-12 mx-auto text-team">
                                                <%= image_tag(m.team_home.logo, height: 16) if m.team_home.logo.attached? %> <%=m.team_home.name%> <span><%=m.team_home_won%></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 mx-auto text-team">
                                                <%= image_tag(m.team_away.logo, height: 16) if m.team_away.logo.attached? %> <%=m.team_away.name%> <span><%=m.team_away_won%></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <% end %>
                            </ul>

                            <ul class="bracket bracket-3">
                                <% @matches[12..13].each do |m| %>
                                <li class="team-item <%=m.predicted(current_user)%>" id="<%=m.bracket.code%>">
                                    <div class="col-12 mx-auto">
                                        <span class="text-small"><%=m.match_start.strftime("%m/%d %I:%M%p") if m.match_start%></span>
                                    </div>
                                    <a data-remote="true" href="<%=m.predicted_route(current_user)%>">
                                        <div class="row">
                                            <div class="col-12 mx-auto text-team">
                                                <%= image_tag(m.team_home.logo, height: 16) if m.team_home.logo.attached? %> <%=m.team_home.name%> <span><%=m.team_home_won%></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 mx-auto text-team">
                                                <%= image_tag(m.team_away.logo, height: 16) if m.team_away.logo.attached? %> <%=m.team_away.name%> <span><%=m.team_away_won%></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <% end %>
                            </ul>

                            <ul class="bracket bracket-4">
                                <% final = @matches[15] %>
                                <li class="team-item <%=final.predicted(current_user)%>" id="<%=final.bracket.code%>">
                                    <div class="col-12 mx-auto">
                                        <span class="text-small"><%=final.match_start.strftime("%m/%d %I:%M%p") if final.match_start%></span>
                                    </div>
                                    <a data-remote="true" href="<%=final.predicted_route(current_user)%>">
                                        <div class="row">
                                            <div class="col-12 mx-auto text-team">
                                                <%= image_tag(final.team_home.logo, height: 16) if final.team_home.logo.attached? %> <%=final.team_home.name%> <span><%=final.team_home_won%></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 mx-auto text-team">
                                                <%= image_tag(final.team_away.logo, height: 16) if final.team_away.logo.attached? %> <%=final.team_away.name%> <span><%=final.team_away_won%></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                <table id="table-rank" class="table table-sm table-responsive-lg table-striped text-special mx-auto" style="font-size:0.8rem;width:80%">
                    <thead class="bg-pickem-2 text-white">
                        <tr>
                            <th>User</th>
                            <th>Matches</th>
                            <th>Predicted</th>
                            <th>Scores</th>
                        </tr>
                    </thead>

                    <tbody id="table-body">

                        <% ptcpt = t.match_predictions.uniq{|u| u.user_id} %>
                        <% ptcpt.each do |u| %>

                        <tr>
                            <td><%= u.user.username %></td>
                            <td><%= u.user.match_predictions.where(tournament_id: t.id).count %> / <%= t.matches.count %> </td>
                            <td><%= u.user.total_answers(t.id) %> / <%= t.total_questions %> </td>
                            <td><%= u.user.match_predictions.where(tournament_id: t.id).sum(:scores) %></td>
                        </tr>

                        <% end %>
                    </tbody>
                </table>

            </div>


            <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                
                <table id="table-player" class="table table-sm table-responsive-lg table-striped text-special mx-auto" style="font-size:0.8rem;width:80%">
                    <h4 class="text-center text-white text-special">My Scores: <%= current_user.match_predictions.sum(:scores) %></h4>
                    <thead class="bg-pickem-2 text-white">
                        <tr>
                            <th>Match</th>
                            <th>Q1</th>
                            <th>Q2</th>
                            <th>Q3</th>
                            <th>Q4</th>
                            <th>Q5</th>
                            <th>Score1</th>
                            <th>Score2</th>
                            <th>Score3</th>
                            <th>Score4</th>
                            <th>Score5</th>
                            <th>Gained</th>
                        </tr>
                    </thead>

                    <tbody id="table-body">
                        <% current_user.match_predictions.each do |mp| %>
                        <tr>
                            <td><%= mp.match.bracket.code %></td>
                            <td class="<%= mp.checkq1 %>">
                                <span data-toggle="tooltip" data-placement="right" title="Q:<%= mp.match.question_1 %> A:<%= mp.match.answer_1 %>">
                                    <%= mp.answer_1 %>
                                </span>
                            </td>
                            <td class="<%= mp.checkq2 %>">
                                <span data-toggle="tooltip" data-placement="right" title="Q:<%= mp.match.question_2 %> A:<%= mp.match.answer_2 %>">
                                    <%= mp.answer_2 %>
                                </span>
                            </td>
                            <td class="<%= mp.checkq3 %>">
                                <span data-toggle="tooltip" data-placement="right" title="Q:<%= mp.match.question_3 %> A:<%= mp.match.answer_3 %>">
                                    <%= mp.answer_3 %>
                                </span>
                            </td>
                            <td class="<%= mp.checkq4 %>">
                                <span data-toggle="tooltip" data-placement="right" title="Q:<%= mp.match.question_4 %> A:<%= mp.match.answer_4 %>">
                                    <%= mp.answer_4 %>
                                </span>
                            </td>
                            <td class="<%= mp.checkq5 %>">
                                <span data-toggle="tooltip" data-placement="right" title="Q:<%= mp.match.question_5 %> A:<%= mp.match.answer_5 %>">
                                    <%= mp.answer_5 %>
                                </span>
                            </td>
                            <td><%= mp.score_1 %></td>
                            <td><%= mp.score_2 %></td>
                            <td><%= mp.score_3 %></td>
                            <td><%= mp.score_4 %></td>
                            <td><%= mp.score_5 %></td>
                            <td><%= mp.scores %></td>
                        </tr>
                        <% end %>
                    </tbody>

                </table>

            </div>
        </div>

    </div>
</div>


<% end %>