<% @tournaments.each do |t| %>
<div class="col-md-12">
    <div class="jumbotron mx-auto">
        <div class="row justify-content-center">
            <%= image_tag(t.banner, style: "width:70%;height:70%") if t.banner.attached? %>
            <h6 class="text-white d-block text-uppercase mx-auto shadow mt-2 mb-2">
                Select Your Game and Predict Your Result
            </h6>
        </div>

        <% @matches = t.matches.order("bracket_id asc") %>
        <div class="tournament-section">
            <div class="tournament-container">

                <div class="tournament-brackets">
                    <ul class="bracket bracket-1">
                        <% @matches[0..7].each do |m| %>
                        <li class="team-item <%=m.predicted(current_user)%>" id="<%=m.bracket.code%>">
                            <div class="col-12 mx-auto">
                                <span class="text-small"><%=m.match_start.strftime("%m/%d %I:%M%p") if m.match_start%></span>
                            </div>
                            <a data-remote="true" href="<%=m.predicted_route(current_user)%>">
                                <div class="row">
                                    <div class="col-12 mx-auto text-team">
                                        <%= image_tag(m.team_home.logo, height: 16) if m.team_home.logo.attached? %>  <%=m.team_home.name%>  <span><%=m.team_home_won%></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mx-auto text-team">
                                        <%= image_tag(m.team_away.logo, height: 16) if m.team_away.logo.attached? %>  <%=m.team_away.name%>  <span><%=m.team_away_won%></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <% end %>
                    </ul>

                    <ul class="bracket bracket-2">
                        <% @matches[8..11].each do |m| %>
                        <li class="team-item <%=m.predicted(current_user)%>" id="<%=m.bracket.code%>">
                            <div class="col-12 mx-auto">
                                <span class="text-small"><%=m.match_start.strftime("%m/%d %I:%M%p") if m.match_start%></span>
                            </div>
                            <a data-remote="true" href="<%=m.predicted_route(current_user)%>">
                                <div class="row">
                                    <div class="col-12 mx-auto text-team">
                                        <%= image_tag(m.team_home.logo, height: 16) if m.team_home.logo.attached? %> <%=m.team_home.name%> <span><%=m.team_home_won%></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mx-auto text-team">
                                        <%= image_tag(m.team_away.logo, height: 16) if m.team_away.logo.attached? %> <%=m.team_away.name%> <span><%=m.team_away_won%></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <% end %>
                    </ul>

                    <ul class="bracket bracket-3">
                        <% @matches[12..13].each do |m| %>
                        <li class="team-item <%=m.predicted(current_user)%>" id="<%=m.bracket.code%>">
                            <div class="col-12 mx-auto">
                                <span class="text-small"><%=m.match_start.strftime("%m/%d %I:%M%p") if m.match_start%></span>
                            </div>
                            <a data-remote="true" href="<%=m.predicted_route(current_user)%>">
                                <div class="row">
                                    <div class="col-12 mx-auto text-team">
                                        <%= image_tag(m.team_home.logo, height: 16) if m.team_home.logo.attached? %> <%=m.team_home.name%> <span><%=m.team_home_won%></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mx-auto text-team">
                                        <%= image_tag(m.team_away.logo, height: 16) if m.team_away.logo.attached? %> <%=m.team_away.name%> <span><%=m.team_away_won%></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <% end %>
                    </ul>

                    <ul class="bracket bracket-4">
                        <% final = @matches[15] %>
                        <li class="team-item <%=final.predicted(current_user)%>" id="<%=final.bracket.code%>">
                            <div class="col-12 mx-auto">
                                <span class="text-small"><%=final.match_start.strftime("%m/%d %I:%M%p") if final.match_start%></span>
                            </div>
                            <a data-remote="true" href="<%=final.predicted_route(current_user)%>">
                                <div class="row">
                                    <div class="col-12 mx-auto text-team">
                                        <%= image_tag(final.team_home.logo, height: 16) if final.team_home.logo.attached? %> <%=final.team_home.name%> <span><%=final.team_home_won%></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mx-auto text-team">
                                        <%= image_tag(final.team_away.logo, height: 16) if final.team_away.logo.attached? %> <%=final.team_away.name%> <span><%=final.team_away_won%></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<% end %>