<div class="row">
  <div class="col-md-12">
      <div class="form-group">
          <%= button_to "New Tournament", new_tournament_path, remote: true, method: 'get', class: "btn btn-outline-info" %>
      </div>
  </div>
</div>

<table id="Tournament-table" class="table table-sm table-responsive-lg table-striped" style="font-size:0.8rem">
  <thead class="text-white bg-pickem-1">
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Display?</th>
      <th>Prediction?</th>
      <th>Populate</th>
      <th>On</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody id="table-body">
    <% @data.each do |tournament| %>
      <tr>
        <td>
          <span class="btn btn-sm" data-toggle="tooltip" data-placement="right" title="<%= tournament.description %>">
            <%= tournament.title %>
          </span>
        </td>
        <td><%= tournament.start_date %></td>
        <td><%= tournament.end_date %></td>
        <td>
            <%= check_box_tag("display", tournament.id, tournament.display,
                               data: {
                                remote: true,
                                url: "#{tournament.id}/display",
                                method: 'POST'}) %>
        </td>
        <td>
            <%= check_box_tag("prediction", tournament.id, tournament.prediction,
                               data: {
                                remote: true,
                                url: "#{tournament.id}/prediction",
                                method: 'POST'}) %>
        </td>

        <td><span class="bg-info rounded p-1 m-1"><%= link_to 'Result', populate_tournament_path(tournament), remote: true, data: { confirm: 'Are you want populate result?' }, class: "text-white" %></span></td>
        <td id="t-po-<%=tournament.id%>"><%= time_ago_in_words(tournament.last_populate) if tournament.last_populate %></td>
        <td><span class="bg-warning rounded p-1 m-1"><%= link_to 'Edit', edit_tournament_path(tournament), remote: true, class: "text-white" %></span></td>
        <td><span class="bg-danger rounded p-1 m-1"><%= link_to 'Delete', tournament, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "text-white" %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>
