
    <ul class="bracket">
        <li class="team-item <%=m.predicted(current_user)%>" id="<%=m.bracket.code%>">
            <%= link_to new_match_prediction_path(id: m.id), remote: true do %>
                <div class="row">
                    <div class="col-2 mx-auto"><%= image_tag("icons/teams/t#{m.team_home.id}.png", class: "", style: "height:1.4rem") %></div>
                        <div class="col-8 text-team">
                            <%=m.team_home.name%>
                        </div>
                        <div class="col-2 text-team">
                            <span><%=m.team_home_won%></span>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-2 mx-auto"><%= image_tag("icons/teams/t#{m.team_away.id}.png", class: "", style: "height:1.4rem") %></div>
                    <div class="col-8 text-team">
                        <%=m.team_away.name%>
                    </div>
                    <div class="col-2 text-team">
                        <span><%=m.team_away_won%></span>
                    </div>
                </div>
            <% end %>
        </li>
    </ul>





