<script>

  $(document).ready(function() {
    $('#match-table').DataTable({
      "order": [],
      "search": {
        "caseInsensitive": true
      }
    });
  });

</script>

<div class="row">
  <div class="col-md-12">
      <div class="form-group">
          <%= button_to "Create New Match", new_match_path, remote: true, method: 'get', class: "btn btn-outline-info" %>
      </div>
  </div>
</div>

<table id="match-table" class="table table-sm table-responsive-lg table-striped table-dark" style="font-size:0.8rem">
  <thead class="bg-dark text-white">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Team home</th>
      <th>Team away</th>
      <th>Match start</th>
      <th>Match end</th>
      <th>Action 1</th>
      <th>Action 2</th>
    </tr>
  </thead>

  <tbody class="text-black">
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.name %></td>
        <td><%= match.description %></td>
        <td><%= match.team_home_id %></td>
        <td><%= match.team_away_id %></td>
        <td><%= match.match_start %></td>
        <td><%= match.match_end %></td>
        <td><%= link_to 'Edit', edit_match_path(match), remote: true %></td>
        <td><%= link_to 'Delete', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
