<script>

  $(document).ready(function() {
    $('#match-table').DataTable({
      "order": [],
      "search": {
        "caseInsensitive": true
      }
    });
  });

</script>

<div class="row">
  <div class="col-md-12">
      <div class="form-group">
          <%= button_to "Create New Match", new_match_path, remote: true, method: 'get', class: "btn btn-outline-info" %>
      </div>
  </div>
</div>

<table id="match-table" class="table table-sm table-responsive-lg table-striped table-dark" style="font-size:0.8rem">
  <thead class="bg-dark text-white">
    <tr>
      <th>Tournament</th>
      <th>Game</th>
      <th>Team Home</th>
      <th>Team Away</th>
      <th>Match Start</th>
      <th>Match End</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody class="text-black">
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.tournament.title %></td>
        <td><%= match.bracket.title %></td>
        <td><%= match.team_home.name %></td>
        <td><%= match.team_away.name %></td>
        <td><%= match.match_start %></td>
        <td><%= match.match_end %></td>
        <td><span class="bg-warning rounded p-1 m-1"><%= link_to 'Edit', edit_match_path(match), remote: true, class: "text-white" %></span></td>
        <td><span class="bg-danger rounded p-1 m-1"><%= link_to 'Delete', match, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-white" %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>
