<div class="row">
  <div class="col-md-12">
      <div class="form-group">
          <%= button_to "New Match", new_match_path, remote: true, method: 'get', class: "btn btn-outline-info" %>
      </div>
  </div>
</div>

<table id="Match-table" class="table table-sm table-responsive-lg table-striped table-dark" style="font-size:0.8rem">
  <thead class="bg-dark text-white">
    <tr>
      <th>Tournament</th>
      <th>Game</th>
      <th>Team Versus</th>
      <th>Match Start</th>
      <th>Match End</th>
      <th>MatchQ</th>
      <th>MatchInfo</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody class="text-black">
    <% @data.each do |match| %>
      <tr>
        <td><%= match.tournament.title %></td>
        <td>
          <span class="btn btn-sm" data-toggle="tooltip" data-placement="right" title="<%= match.bracket.title %>">
              <%= match.bracket.code %>
          </span>
        </td>
        <td id="mct-team-<%=match.id%>">
          <%= match.team_home.name %> <%= match.team_home_won %>-<%= match.team_home_won %> <%= match.team_away.name %>
        </td>
        <td id="mct-ms-<%=match.id%>">
          <%= match.match_start.to_formatted_s(:short) if match.match_start %>
        </td>
        <td id="mct-me-<%=match.id%>">
          <%= match.match_end.to_formatted_s(:short) if match.match_end %>
        </td>
        <td><span class="bg-info rounded p-1 m-1"><%= link_to 'Edit', edit_match_path(match, form: 1), remote: true, class: "text-white" %></span></td>
        <td><span class="bg-warning rounded p-1 m-1"><%= link_to 'Edit', edit_match_path(match, form: 2), remote: true, class: "text-white" %></span></td>
        <td><span class="bg-danger rounded p-1 m-1"><%= link_to 'Delete', match, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "text-white" %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>
