<%= form_with(model: match_prediction) do |form| %>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :match_id, value: @match.id %>

  <p>Question 1: <%= @match.question_1 %></p>
  <div class="field">
    <%= form.label :answer_1 %>
    <%= form.text_field :answer_1 %>
  </div>

  <p>Question 2: <%= @match.question_2 %></p>
  <div class="field">
    <%= form.label :answer_2 %>
    <%= form.text_field :answer_2 %>
  </div>

  <p>Question 3: <%= @match.question_3 %></p>
  <div class="field">
    <%= form.label :answer_3 %>
    <%= form.text_field :answer_3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
