<%= form_with(model: match_prediction, id: "match-prediction-form") do |form| %>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :match_id, value: @match.id %>
  <%= form.hidden_field :tournament_id, value: @match.tournament.id %>

  <p>Q1: <%= @match.question_1 %></p>
  <div class="input-group mb-3 col-md-10">
    <%= form.select(:answer_1, @match.selection_1.split(";"), {include_blank: "Select Here"}, class: "form-control form-control-sm") %>
  </div>

  <p>Q2: <%= @match.question_4 %></p>
  <div class="input-group mb-3 col-md-10">
    <%= form.select(:answer_2, @match.selection_2.split(";"), {include_blank: "Select Here"}, class: "form-control form-control-sm") %>
  </div>

  <p>Q3: <%= @match.question_5 %></p>
  <div class="input-group mb-3 col-md-10">
    <%= form.select(:answer_3, @match.selection_3.split(";"), {include_blank: "Select Here"}, class: "form-control form-control-sm") %>
  </div>

  <p>Q4: <%= @match.question_2 %></p>
  <div class="input-group mb-3 col-md-10">
    <%= form.select(:answer_4, @match.selection_4.split(";"), {include_blank: "Select Here"}, class: "form-control form-control-sm") %>
  </div>

  <p>Q5: <%= @match.question_3 %></p>
  <div class="input-group mb-3 col-md-10">
    <%= form.select(:answer_5, @match.selection_5.split(";"), {include_blank: "Select Here"}, class: "form-control form-control-sm") %>
  </div>

<% end %>
