<script>

  $(document).ready(function() {
    $('#prediction-table').DataTable({
      "order": [],
      "search": {
        "caseInsensitive": true
      }
    });
  });

</script>

<table id="prediction-table" class="table table-sm table-responsive-lg table-striped table-dark" style="font-size:0.8rem">
  <thead class="bg-dark text-white">
    <tr>
      <th>User</th>
      <th>Match</th>
      <th>Answer 1</th>
      <th>Answer 2</th>
      <th>Answer 3</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @match_predictions.each do |mp| %>
      <tr>
        <td><%= mp.user.username %></td>
        <td><%= mp.match.description %></td>
        <td><%= mp.answer_1 %></td>
        <td><%= mp.answer_2 %></td>
        <td><%= mp.answer_3 %></td>
        <td><span class="bg-warning rounded p-1 m-1"><%= link_to 'Edit', edit_match_prediction_path(mp), class: "text-white" %></span></td>
        <td><span class="bg-danger rounded p-1 m-1"><%= link_to 'Delete', mp, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-white" %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>