<!DOCTYPE html>
<html>
  <head>
    <title>PickEm Dota2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'brand/favicon2.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Righteous" rel="stylesheet">

  </head>

  <body>
    <div class="allbutfooter">
    <div id="flash-message"><%= render partial: 'statics/message' %></div>
    <%= render partial: 'statics/navbar' %>
    <div class="h-100">
      <%= yield %>
    </div>
    <%= render partial: 'statics/modal' %>
    <%= render partial: 'statics/footer' %>
    </div>
  </body>

</html>

